# Py Moondream Models
*.mf.gz

# Ollama Models and keys
/ollama/id_ed25519.pub
/ollama/id_id_ed25519
/ollama/models
/ollama/history

# HugginFace models
*.gguf

# Llama.cpp
/llama.cpp/*

# Virtual Environment
/.venv

# Datasets
/datasets/Breast Cancer Patients MRI's
/datasets/JSON_Breast Cancer Patients MRI's
/datasets/breast-cancer-cell-segmentation-histopathology
/datasets/breast-cancer-detection-mammogram
/datasets/BrEaST-Lesions_USG-images_and_masks
/datasets/BCD_Dataset-thermogram

# Document writing (LaTeX)
/document

# Latex
/latex

# Unsloth
/unsloth/unsloth_compiled_cache
/unsloth_compiled_cache
/sentencepiece
/scripts/__pycache__

# Document

/preparationDocument/PreparaçãoTese_BDionisio_55076.pdf
/preparationDocument/OLD_Dissertation_Plan_Duarte_Silva_55419.pdf