# Py Moondream Models
*.mf.gz

# Ollama Models and keys
/ollama/id_ed25519.pub
/ollama/id_id_ed25519
/ollama/models
/ollama/history

# HugginFace models
*.gguf

# Llama.cpp
/llama.cpp/*

# Virtual Environment
/.venv

# Datasets
/datasets

# Document writing (LaTeX)
/document

# Latex
/latex

# Unsloth
/unsloth_compiled_cache

/scripts/__pycache__

# Document

/preparationDocument/PreparaçãoTese_BDionisio_55076.pdf
/preparationDocument/OLD_Dissertation_Plan_Duarte_Silva_55419.pdf