# Py Moondream Models
*.mf.gz

# Ollama Models and keys
/ollama/id_ed25519.pub
/ollama/id_id_ed25519
/ollama/models
/ollama/history

# HugginFace models
*.gguf

# Llama.cpp
/llama.cpp/*

# Virtual Environment
/.venv

# Datasets
/datasets/Breast Cancer Patients MRI's
/datasets/JSON_Breast Cancer Patients MRI's
/datasets/breast-cancer-cell-segmentation-histopathology
/datasets/breast-cancer-detection-mammogram
/datasets/BrEaST-Lesions_USG-images_and_masks
/datasets/BCD_Dataset-thermogram

# Document writing (LaTeX)
/document

# Latex
/latex

# Unsloth
/fineTuning/unsloth_compiled_cache
/fineTuning/HistopathologyFinetuned_Llama-3.2-3B-Instruct
/fineTuning/MRIFinetuned_DeepSeek-R1-Distill-Qwen-1.5B
/fineTuning/model
/fineTuning/MRIFinetuned_Qwen2.5-0.5B-Instruct
/fineTuning/MRIFinetuned_Llama-3.2-3B-Instruct
/fineTuning/ThermographyFinetuned_DeepSeek-R1-Distill-Qwen-1.5B
/fineTuning/ThermographyFinetuned_Llama-3.2-3B-Instruct
/fineTuning/ThermographyFinetuned_Qwen2.5-0.5B-Instruct
/fineTuning/_unsloth_sentencepiece_temp
/fineTuning/outputs
/fineTuning/__pycache__
/fineTuning/_unsloth_temporary_saved_buffers
/unsloth_compiled_cache
/sentencepiece
/scripts/__pycache__
/fineTuning/llama.cpp

# Document

/preparationDocument/PreparaçãoTese_BDionisio_55076.pdf
/preparationDocument/OLD_Dissertation_Plan_Duarte_Silva_55419.pdf